<%- include('partials/header') %>

<main>
  <h1>Sign Up</h1>

  <% if (locals.errors && errors.length > 0) { %>
    <ul class="errors">
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/signup" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />

    <label for="firstName">First name</label>
    <input type="text" id="firstName" name="firstName" required />

    <label for="lastName">Last name</label>
    <input type="text" id="lastName" name="lastName" required />

    <label for="username">Username</label>
    <input type="text" id="username" name="username" required />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Sign Up</button>
  </form>
</main>

<%- include('partials/footer') %>
